<ion-header *ngIf="!loggedIn">
  <ion-toolbar>
    <ion-title>Restaurant Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="loggedIn">
  <ion-toolbar>
    <ion-button *ngIf="restAdmin" slot="start" (click)="restUsermanagemer()"><ion-icon name="people"></ion-icon></ion-button>
    <ion-title>{{restInformations.restName}}</ion-title>
    <ion-button *ngIf="restAdmin" slot="end" (click)="restSettings()"><ion-icon name="settings"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!loggedIn">
  <ion-item>
    <ion-label>E-Mail:</ion-label>
    <ion-input type="text" [(ngModel)]="loginInformations.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input type="password" [(ngModel)]="loginInformations.password" name="password"></ion-input>
  </ion-item>
  <ion-button (click)="employeeLogin()">Login</ion-button>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="loggedIn">
  <ion-list>
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="50" pullMax="100" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list-header>
      <ion-label>Eingecheckte Gäste</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let element of guestListActive">
      <ion-item-options side="start">
        <ion-item-option (click)="openInformations(element)" color="primary">
          <ion-icon slot="icon-only" name="help-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item >
        <ion-label>{{ element.firstName }} {{ element.lastName }} - {{ element.table }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="checkOut(element.id)" color="danger">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-list-header>
      <ion-label>Ausgecheckte Gäste</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let element of guestListInActive">
      <ion-item-options side="start">
        <ion-item-option (click)="openInformations(element)" color="primary">
          <ion-icon slot="icon-only" name="help-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>{{ element.firstName }} {{ element.lastName }} - {{ element.table }}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>