<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title>Generate new QR Code.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="loginItem">
    <ion-input type="text" placeholder="Table Nr." [(ngModel)]="table"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="createCode()">Create QR Code</ion-button>
  
  <ion-card *ngIf="qrData"> 
    <ngx-qrcode class="qrCode" id="qrCode"
      [elementType]="elementType"
      [value] = "qrData">
    </ngx-qrcode>
    <ion-button expand="full" (click)="downloadQrCode()">Download</ion-button>
  </ion-card>
</ion-content>
