<ion-header>
  <ion-toolbar>
    <ion-title>Administration Panel</ion-title>
    <ion-button *ngIf="loggedIn" slot="end" (click)="restSettings()"><ion-icon name="add"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loggedIn">
  <ion-item>
    <ion-label>E-Mail:</ion-label>
    <ion-input type="text" [(ngModel)]="login.email" name="firstName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input type="password" [(ngModel)]="login.password" name="firstName"></ion-input>
  </ion-item>
  <ion-button (click)="adminLogin()">Login</ion-button>
</ion-content>

<ion-content *ngIf="loggedIn">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="50" pullMax="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item (click)="restSpecificSettings(rest.restId)" *ngFor="let rest of restaurantList">
      <ion-label>{{ rest.restName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
